@page
@model RPG_game.Pages.PagesModel
@using RPG_game.Model
@{
    ViewData["Title"] = "Pages";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pages</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div class="text-center">
        <h1 class="display-4">@Model.Location.Name</h1>
        <p>@Model.Location.Description</p>
        <div class="btn-group-vertical">
            @foreach (var item in Model.Location.Paths)
            {
                if (item.IsLocked == true)
                {

                    <a class="btn btn-secondary disabled" style="pointer-events: all" title= "@item.HoverDescription" >@item.PathDescription</a>

                }
                else
                {
                    <a asp-page="/@item.NextPage" asp-route-to="@item.NextLocationId" class="btn btn-secondary" >@item.PathDescription</a>
                }
            }
        </div>
    </div>
</body>
</html>
