@using RPG_game.Model;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RPG_game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Prima rande</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-dark" asp-area="" asp-page="/Review">Konec hry</a>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle text-dark" asp-area="" asp-page="/Review" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Známí</a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (KeyValuePair<string, Person> item in Model.Stats.Acquaintances)
                                {
                                    if (Model.Location.DateAllowed == true)
                                    {
                                        <a class="dropdown-item" asp-page="/Pages" asp-route-to="@item.Value.LocationId">@item.Value.Name @if (@item.Value.Age != 0)@item.Value.Age </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item">@item.Value.Name @if (@item.Value.Age != 0)@item.Value.Age </a>
                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>
                <span class="navbar-text">
                    Tvůj level: @Model.Stats.Level<br />
                    Počet schůzek: @Model.Stats.DateCount (z toho úspěšných: @Model.Stats.SuccessfulDateCount)<br />
                    Potkaní lidé: @Model.Stats.MetPeople / 13
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Adam Antoš, Michaela Hübnerová<!-- - <a asp-area="" asp-page="/Privacy">Privacy</a>-->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
